{% extends 'base.html' %}
{% block conteudo %}

  <section class='container-fluid'>
    <form class='formDisciplina' method='POST' action='#'>
        {% csrf_token %}
        <div class='container w-50 mt-4'>
          <div class='row'>
            <div class='col-12 text-center'>
              <h3>Cadastrar Disciplina</h3>
            </div>
          </div>
          <div class='form-row mt-4'>
            <div class='col-md-8 col-sm-12 col-12 form-group'>
              <label for='nomeDisciplina'>Nome da disciplina</label>
              <input type='text' name='nomeDisciplina' class='form-control' placeholder='Nome da Disciplina' required>
            </div>
            <div class='col-md-4 col-sm-12 col-12 form-group'>
                <label for='dataDisciplina'>Data</label>
                <input type='date' name='dataDisciplina' class='form-control' required>
            </div>
          </div>
          <div class='form-row'>
            <div class='col-md-6 col-sm-12 col-12 form-group'>
              <label for='statusDisciplina'>Status</label>
              <select class='form-control' name='statusDisciplina' required>
                <option value="" >Selecione</option>
                <option value="Aberta" >Aberta</option>
                <option value="Fechada" >Fechada</option>
              </select>
            </div>
            <div class='col-md-6 col-sm-12 col-12 form-group'>
                <label for='cargaHorariaDisciplina'>Carga Horaria</label>
                <select class='form-control' required>
                  <option value=''>Selecione</option>
                  <option value='40'>40</option>
                  <option value='80'>80</option>
                </select>
            </div>
          </div>
          <div class='form-row'>
            <div class='col-md-12 form-group'>
              <label for='planoEnsinoDisciplina'>Plano de Ensino</label>
              <textarea class='form-control' cols='10' rows='3' name='planoEnsinoDisciplina' placeholder='Plano de Ensino' required></textarea>
            </div>
          </div>
          <div class='form-row'>
            <div class='col-md-12 form-group'>
              <label for='competenciasDisciplina'>Competências</label>
              <textarea class='form-control' cols='10' rows='3' name='competenciasDisciplina' placeholder='Competências' required></textarea>
            </div>
          </div>
          <div class='form-row'>
            <div class='col-md-12 form-group'>
              <label for='habilidadesDisciplina'>Habilidades</label>
              <textarea class='form-control' cols='10' rows='3' name='habilidadesDisciplina' placeholder='Habilidades' required></textarea>
            </div>
          </div>
          <div class='form-row'>
            <div class='col-md-12 form-group'>
              <label for='ementaDisciplina'>Ementa</label>
              <textarea class='form-control' cols='10' rows='3' name='ementaDisciplina' placeholder='Ementa' required></textarea>
            </div>
          </div>
          <div class='form-row'>
            <div class='col-md-12 form-group'>
              <label for='conteudoProgramaticoDisciplina'>Conteúdo Programatico</label>
              <textarea class='form-control' cols='10' rows='3' name='conteudoProgramaticoDisciplina' placeholder='Conteúdo Programatico' required></textarea>
            </div>
          </div>
          <div class='form-row'>
            <div class='col-md-12 form-group'>
              <label for='bibliografiaBasicaDisciplina'>Bibliografia Básica</label>
              <textarea class='form-control' cols='10' rows='3' name='bibliografiaBasicaDisciplina' placeholder='Bibliografia Básica' required></textarea>
            </div>
          </div>
          <div class='form-row'>
            <div class='col-md-12 form-group'>
              <label for='bibliografiaComplementarDisciplina'>Bibliografia Complementar</label>
              <textarea class='form-control' cols='10' rows='3' name='bibliografiaComplementarDisciplina' placeholder='Bibliografia Complementar' required></textarea>
            </div>
          </div>
          <div class='form-row'>
            <div class='col-md-6 form-group'>
              <label for='percentualPraticoDisciplina'>Percentual Prático</label>
              <input type='number'class='form-control percentualPraticoDisciplina' name='percentualPraticoDisciplina' min='0' step='10' value='0' required>
              <small class="text-muted">O percentual Pratico e Teorico devem somar 100</small>
            </div>
            <div class='col-md-6 form-group'>
              <label for='percentualTeoricoDisciplina'>Percentual Teorico</label>
              <input type='number'class='form-control percentualTeoricoDisciplina' name='percentualTeoricoDisciplina' min='0' step='10' value='0' required>
              <span class="erroPercentual" name="erroPercentual"></span>
            </div>
          </div>
          <div class='form-row'>
            <div class='col-md-12 form-group text-center'>
              <button type='submit' class='btn btn-info btn-lg'>Cadastrar</button>
            </div>
          </div>
        </div>
    </form>
    
  </section>

    {% endblock conteudo %}
    <script>
      $(document).ready(function(){

          $('#data_1 .input-group.date').datepicker({
              todayBtn: "linked",
              keyboardNavigation: false,
              forceParse: false,
              calendarWeeks: true,
              autoclose: true
          });

          $(".touchspin2").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                postfix: '%',
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });
        });
    </script>
