{% extends 'base.html' %}
{% block conteudo %}
    <section class="container-fluid">
      <h3 class="text-center mt-3">Cadastrar professor</h3>
      <form class="formProfessor" method="POST" action="#">
        {% csrf_token %}
        <!-- Row -->
        <div class='container w-50'>

          <div class="form-row mt-4">
            <div class="col-4 form-group">
              <hr>
            </div>
            <div class="col-4 form-group">
              <h4 class="text-center">Dados Pessoais</h4>
            </div>
            <div class="col-4 form-group">
              <hr>
            </div>
          </div>
          <!-- Row -->
          <div class="form-row">
            <div class="col-8 form-group">
              <label for="nomeProfessor">Nome completo</label>
              <input type="text" class="form-control" name="nomeProfessor" placeholder="Nome completo" required />
              <span class="invalid-feedback formErro" name="erroNome"></span>
            </div>
            <div class="col-4 form-group">
                <label for="rmProfessor">RM</label>
                <input type="number" class="form-control" name="rmProfessor" placeholder="RM" required />
                <span class="invalid-feedback formErro" name="erroRM"></span>
              </div>
          </div>
          <!-- Row -->
          <div class="form-row">
            <div class="col form-group">
              <label for="apelidoProfessor">Apelido</label>
              <input type="text" class="form-control" name="apelidoProfessor" placeholder="Apelido" required />
              <span class="invalid-feedback formErro" name="erroRM"></span>
            </div>
          </div>  
          <!-- Row -->
          <div class="form-row">
            <div class="col-8 form-group">
              <label for="emailProfessor">E-mail</label>
              <input type="email" class="form-control" name="emailProfessor" placeholder="E-mail" required />
              <span class="invalid-feedback formErro" name="erroRM"></span>
            </div>
            <div class="col-4 form-group">
              <label for="telefoneProfessor">Telefone</label>
              <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="Telefone" required />
              <span class="invalid-feedback formErro" name="erroRM"></span>
            </div>
          </div>
          <!-- Row -->
          <div class="form-row">
            <div class="col-6 form-group">
              <label for="nascimentoProfessor">Data de nascimento</label>
              <input type="date" class="form-control" id="nascimentoProfessor" name="nascimentoProfessor" placeholder="Data de nascimento" required />
              <span class="invalid-feedback formErro" name="erroRM"></span>
            </div>
            <div class="col-6 form-group">
              <label for="sexoProfessor">Sexo</label>
              <select class="form-control" name="sexoProfessor" required>
                  <option value="">Selecione</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Feminino">Feminino</option>
              </select>
              <span class="invalid-feedback formErro" name="erroRM"></span>
            </div>
          </div>  
          <!-- Row -->
          <div class="form-row mt-4">
            <div class="col-4 form-group">
              <hr>
            </div>
            <div class="col-4 form-group">
              <h4 class="text-center">Usuario</h4>
            </div>
            <div class="col-4 form-group">
              <hr>
            </div>
          </div>
          <!-- Row --> 
          <div class="form-row">
            <div class="col form-group">
              <label for="usuarioProfessor">Nome de usuario</label>
              <input type="text" class="form-control" name="usuarioProfessor" placeholder="Usuario" required />
              <span class="invalid-feedback formErro" name="erroRM"></span>
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="senhaProfessor">Senha</label>
              <input type="password" class="form-control" name="senha" placeholder="Senha" required />
              <small class="text-muted">A senha deve ter no minimo 8 caracteres</small>
              <span class="invalid-feedback formErro" name="erroRM"></span>
            </div>
            <div class="col form-group">
              <label for="confirmarSenhaProfessor">Confirme sua senha</label>
              <input type="password" class="form-control" name="confirmarSenhaProfessor" placeholder="Confirme sua senha" required />
              <span class="invalid-feedback formErro" name="erroRM"></span>
            </div>
          </div>   
          <div class="form-row">
            <div class="col form-group">
              <button type="submit" class="btn btn-info btn-lg">Cadastrar</button>
            </div>
          </div>
        </div>
      </form>
    </section>
{% endblock conteudo %}