{% extends 'base.html' %}
{% block conteudo %}
<!--           <h1 class="text-center">Cadastro de Professor</h1>
          <div class="container">
            <div class="col-md-12">
              <form action="#">
                <div class="form-group col-md-6">
                  <label for="nomeCompletoprofessor" class="label-control">Nome Completo</label>
                  <input type="text" name="nomeCompletoprofessor" class="form-control">
                </div>

                <div class="form-group col-md-6">
                    <label for="rmProfessor" class="label-control">Registro de Matricula</label>
                    <input type="text" name="rmProfessor" class="form-control">
                </div>
  
                <div class="form-group col-md-12">
                  <label for="emailAlunoProfessor" class="label-control">E-mail</label>
                  <input type="mail" name="emailAlunoProfessor" class="form-control">
                </div>
  
                <div class="form-group col-md-6">
                  <label for="telefoneAlunoProfesor" class="label-control">Celular</label>
                  <input type="phone" name="telefoneAlunoProfesor" class="form-control">
                </div>
  
                <div class="form-group col-md-6">
                  <label for="apelidoProfessor" class="label-control">Apelido</label>
                  <input type="text" name="apelidoProfessor" class="form-control">
                </div>

                <div class="form-group col-md-6">
                    <label for="nascimentoProfessor" class="label-control">Data de nascimento</label>
                    <input type="text" name="nascimentoProfessor" class="form-control">
                </div>

                <div class="form-group col-md-6">
                    <label for="sexoProfessor" class="label-control">Sexo</label>
                    <select class="form-control" name="sexoProfessor">
                        <option value="">Selecione</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                    </select>
                </div>
      
                <div class="form-group text-center col-md-12">
                  <button type="submit" class="btn btn-info btn-lg">Enviar</button>
                </div>
              </form>
            </div>
          </div> -->
    <section class="container-fluid">
      <h3 class="text-center mt-3">Cadastrar professor</h3>
      <form class="formProfessor" method="POST" action="#">
        {% csrf_token %}
        <!-- Row -->
        <div class="form-row w-50 mx-auto mt-4">
          <div class="col-4 form-group">
            <hr>
          </div>
          <div class="col-4 form-group">
            <h4 class="text-center">Dados Pessoais</h4>
          </div>
          <div class="col-4 form-group">
            <hr>
          </div>
        </div>
        <!-- Row -->
        <div class="form-row w-50 mx-auto">
          <div class="col-8 form-group">
            <label for="nomeProfessor">Nome completo</label>
            <input type="text" class="form-control" name="nomeProfessor" placeholder="Nome completo" />
            <span class="invalid-feedback formErro" name="erroNome"></span>
          </div>
          <div class="col-4 form-group">
              <label for="rmProfessor">RM</label>
              <input type="text" class="form-control" name="rmProfessor" placeholder="RM" />
              <span class="invalid-feedback formErro" name="erroRM"></span>
            </div>
        </div>
        <!-- Row -->
        <div class="form-row w-50 mx-auto">
          <div class="col form-group">
            <label for="apelidoProfessor">Apelido</label>
            <input type="text" class="form-control" name="apelidoProfessor" placeholder="Apelido" />
            <span class="invalid-feedback formErro" name="erroRM"></span>
          </div>
        </div>  
        <!-- Row -->
        <div class="form-row w-50 mx-auto">
          <div class="col-8 form-group">
            <label for="emailProfessor">E-mail</label>
            <input type="text" class="form-control" name="emailProfessor" placeholder="E-mail" />
            <span class="invalid-feedback formErro" name="erroRM"></span>
          </div>
          <div class="col-4 form-group">
            <label for="telefoneProfessor">Telefone</label>
            <input type="text" class="form-control" id="telefoneProfessor" name="telefoneProfessor" placeholder="Telefone" />
            <span class="invalid-feedback formErro" name="erroRM"></span>
          </div>
        </div>
        <!-- Row -->
        <div class="form-row w-50 mx-auto">
          <div class="col-6 form-group">
            <label for="nascimentoProfessor">Data de nascimento</label>
            <input type="text" class="form-control" id="nascimentoProfessor" name="nascimentoProfessor" placeholder="Data de nascimento" />
            <span class="invalid-feedback formErro" name="erroRM"></span>
          </div>
          <div class="col-6 form-group">
            <label for="sexoProfessor">Sexo</label>
            <select class="form-control" name="sexoProfessor">
                <option value="">Selecione</option>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
            </select>
            <span class="invalid-feedback formErro" name="erroRM"></span>
          </div>
        </div>  
        <!-- Row -->
        <div class="form-row w-50 mx-auto mt-4">
          <div class="col-4 form-group">
            <hr>
          </div>
          <div class="col-4 form-group">
            <h4 class="text-center">Usuario</h4>
          </div>
          <div class="col-4 form-group">
            <hr>
          </div>
        </div>
        <!-- Row --> 
        <div class="form-row w-50 mx-auto">
          <div class="col form-group">
            <label for="usuarioProfessor">Nome de usuario</label>
            <input type="text" class="form-control" name="usuarioProfessor" placeholder="Usuario" />
            <span class="invalid-feedback formErro" name="erroRM"></span>
          </div>
        </div>
        <div class="form-row w-50 mx-auto">
          <div class="col form-group">
            <label for="senhaProfessor">Senha</label>
            <input type="password" class="form-control" name="senhaProfessor" placeholder="Senha" />
            <small class="text-muted">A senha deve ter no minimo 8 caracteres</small>
            <span class="invalid-feedback formErro" name="erroRM"></span>
          </div>
          <div class="col form-group">
            <label for="confirmarSenhaProfessor">Confirme sua senha</label>
            <input type="password" class="form-control" name="confirmarSenhaProfessor" placeholder="Confirme sua senha" />
            <span class="invalid-feedback formErro" name="erroRM"></span>
          </div>
        </div>   
        <div class="form-row w-50 mx-auto">
          <div class="col form-group">
            <button type="submit" class="btn btn-info btn-lg">Cadastrar</button>
          </div>
        </div>
      </form>
    </section>
{% endblock conteudo %}